<div>
<img src="./micromaster.png"
alt="SUT logo" width=150 height=150 align=left class="saturate">
<br>
<font face="Times New Roman">
<div dir=ltr align=center>
<!-- <font color=0F5298 size=7> -->
<font color=0F5298 size=6>
   Programming For Data Analysis
  <br> <br>
<!-- <font color=2565AE size=5> -->
<font size=5>
    Sharif Micromaster <br>
    Winter 2024 <br> <br>
<font color=606060 size=5>
    Assignment 4: Practical - Introduction to Pandas, Matplotlib, Seaborn <br> <br>
<hr>

<div>
<font face="Times New Roman">
<div dir=ltr align=left>
<font color=686880 size=4>
    Name: 
    <br>
    No.:

## Notebook Content
1. [Importing Libraries](#importing-libraries)
2. [Loading Dataset](#loading-dataset)
3. [Basic Understanding of Dataset](#basic-understanding-of-dataset)
4. [Exploratory Data Analysis](#exploratory-data-analysis)
5. [Feature Engineering](#feature-engineering)
6. [Data Pre-Processing](#data-pre-processing)
7. [Model Building ](#model-building)

### Importing Libraries

In [ ]:
# TODO: Import Required libraries
# Codes

### Loading Dataset

In [ ]:
# TODO: Load dataset.csv 
# Codes

## Basic Understanding of Dataset

In [ ]:
# TODO: Print Shape of our Dataset
# Codes

In [ ]:
# TODO: Print Columns of Dataset
# Codes

In [ ]:
# TODO: Print first 5 rows of the dataset
# Codes

In [ ]:
# TODO: Print last 5 rows of the dataset
# Codes

In [ ]:
# TODO: Number of Duplicated in our dataset
# Codes
# TODO: The percentage of Duplicated in our dataset
# Codes

In [ ]:
# TODO: Types of our Columns in Dataset
# Codes

**Description**<br>

* Except Area feature , all of them have right type . we have to change its type later .<br>

In [ ]:
# TODO: Print the number of missing values in our Dataset for each Column
# Codes
# TODO: The percentage of missing values in our Dataset for each Column
# Codes

**Description**<br>

* Due to Address feature plays an important role and it must be exact, we can't replace missing values with anything.
* Consequently, we will drop those missing values later.

In [ ]:
# TODO: Print the cardinality of our Columns

## Exploratory Data Analysis

In [ ]:
# TODO: Plot the distribution of prices from the dataset using a histogram with kernel density estimation enabled, specifying a palette and setting the number of bins to 100.
# Codes

**Description**<br>

* Most houses have roughly close price in one third of the first part
* Outliers are obvious now(on the right side)

In [ ]:
# TODO: Visualize the distribution of the number of rooms (Room) from the dataset using a histogram.
# Codes

**Description**<br>

* About 2000 houses have exactly 2 rooms (most houses) 
* Distribution of 1 and 3 rooms are roughly the same (a little more 3 rooms)
* we have not many houses with 4 or 5 rooms (in total about 150 houses)
* houses without room is rarely seen 

**Conclusion**
* Mean of rooms is roughly 2.

In [ ]:
# TODO: Create subplots to visualize the distribution of boolean columns ('Parking', 'Warehouse', 'Elevator') from the dataset using countplots.
# Codes

**Description**<br>

* Most houses have Parking , Warehouse and Elevator (all these three features )
* Most houses have Warehouse.(houses without warehouse are very low)
* Those houses without Parking and Elevator have the same distribution(less than 1000 more than 500)

## Feature Engineering

In [ ]:
# TODO: Display the data types of columns in the dataset.
# Codes

**Description**<br>

The type of Area must be changed if we want to show and do feature engineering .<br>

To be possible to change its type we need to remove comma between numbers than we are capable changing its type.

In [ ]:
# TODO: Remove commas from the 'Area' column and convert it to numeric data type.
# Codes

In [ ]:
# TODO: Generate descriptive statistics for the 'Area' column in the dataset.
# Codes

**Description**<br>

We are going to divide Area feature to 4 category : Small(0-30) - AveUnderMean(30-90) - AveUpperMean(90-120)- High(120-...)

except these features other will be replaced to nan values

In [ ]:
# TODO: Create a new feature 'AreaSize' based on the 'Area' column values, categorizing them as 'Small', 'AveUnderMean', 'AveUpperMean', or 'High'.
# Codes

In [ ]:
# TODO: Visualize the distribution of the 'AreaSize' feature using a countplot.
# Codes

**Description**<br>

* As we can see  about half of houses have between 30-90 meters(m2)
* Houses with 90-120 meters  have the same contribution with houses which have more than 120 meters
* we can realize that right-skewed has happened.(outliers most are on the right part)
* very low houeses are with less than 30 meters size.

We are going to determine 4 level for Price feature : Cheap , AveUnderMean , AveUpperMean , Expensive <br>

- `cheap` : 0-25% 
- `AveUnderMean` : 25%-50%
- `AveUpperMean` : 50%-75%
- `Expensive` : upper 75%

In [ ]:
# TODO: Create a new feature 'PriceLevel' based on the 'Price' column values, categorizing them as 'Cheap', 'AveUnderMean', 'AveUpperMean', or 'Expensive'.
# Codes

In [ ]:
# TODO: Visualize the distribution of the 'PriceLevel' feature using a countplot.
# Codes

**Description**<br>

We have very balanced distribution in 4 parts

## Data Pre-Processing

In [ ]:
# TODO: Display a random sample of 10 rows from the dataset.
# Codes

In [ ]:
# TODO: Calculate the number and percentage of missing values for each column in the dataset and display the results. Highlight the column with the maximum percentage of missing values in red.
# Codes

    
**Description**<br>

Address (location of house) is crucial , wa cant replace missing values with like(most frequent)
(if we do that our model doesnt have good prediction) <br>
So , we easily drop those missing values

In [ ]:
# TODO: Remove rows with missing values from the dataset.
# Codes

In [ ]:
# TODO: Confirm that there are no missing values remaining in the dataset after removing them.
# Codes

In [ ]:
# TODO: Identify and count duplicated values in the dataset. Calculate and print the percentage of duplicated values.
# Codes

**Description**<br>

We have 208 duplicated values .
We can easily drop them

In [ ]:
# TODO: Remove duplicated rows from the dataset, reset the index, and drop the old index column.
# Codes

In [ ]:
# TODO: Print the new shape of the dataset after removing duplicated rows and resetting the index.
# Codes

In [ ]:
# TODO: Display the data types of columns in the dataset after any transformations or modifications.
# Codes

**Description**<br>
* About dtypes every thing is fine . <br>
* We are going to check and discover each feature .

In [ ]:
# TODO: Calculate the count and mean price for each category of the 'AreaSize' feature and display the results, sorted by 'AreaSize' in descending order.
# Codes

**Description**<br>

* Obviously with increasing the meter of a house the price will raise and Mean will be raised too . <br>

* Distribution of houses according to Meter is : AveUnderMean - High - AveUpperMean - Small 

* There is just a house with a small size.(it's an outlier)

In [ ]:
# TODO: Calculate the percentage distribution and mean price for each category of the 'Room' feature and display the results, sorted by room number.
# Codes

    
**Description**<br>

We can see the distribution of houses with :   <br>
In row 2 , 3 , 1 , 4 , 5   and 0 rooms have the highest distribution. <br>

Mean price for each has been shown. <br>
Obviously, with raising the number of rooms the cost will be increased.<br>
(Duplicate the cost for each 1 room  (except 4rooms to 5rooms)

In [ ]:
# TODO: Calculate the count and mean price for each category of the 'Parking' feature and display the results.
# Codes

**Description**<br>

* As we can see , most houses have parking (about 5.5x versus those without parking)<br>

* Those houses with parking have higher costs.(about fourfold)(transparently Parking is an important feature for price)

In [ ]:
# TODO: Calculate the count and mean price for each category of the 'Warehouse' feature and display the results.
# Codes

    
**Description**<br>

* Most houses have Warehouse (about 10x versus those without Warehouse)

* Houses with warehouse have higher costs . more than duoble

In [ ]:
# TODO: Calculate the count and mean price for each category of the 'Elevator' feature and display the results.
# Codes

**Description**<br>

* Most houses have Elevator (about 4x versus those without Elevator)

* Houses with Elevator have higher costs .about 1.5X 

* Versus Parking and Warehouse  , Elevator has less influence on price

In [ ]:
# TODO: Create a cross-tabulation between the 'Parking' and 'Room' features in the dataset.
# Codes

**Description**<br>

* Most houses with 1 room or more have Parking.
* With raising the number of rooms , houses with Parking have increasingly raised.

In [ ]:
# TODO: Calculate the mean price for each combination of 'Parking' and 'Warehouse' features in the dataset and round the results.
# Codes

**Description**

* It can be seen that houses with Warehouse and without Parking have less cost versus those houses with Parking.
* If both features exist in a house , the cost of the house will be high.

In [ ]:
# TODO: Calculate the mean price for each combination of 'Room' and 'Warehouse' features in the dataset and round the results.
# Codes

**Description**<br>
* Except houses without room , with increasing the number of Rooms and Warehouse existance the cost will be increasingly raised.

In [ ]:
# TODO: Display the unique values of the 'Address' column in the dataset.
# Codes

In [ ]:
# TODO: Calculate and print the number of unique values in the 'Address' column of the dataset.
# Codes

**Description**<br>

Because we dont know that all names of addresses  have correct writing or human mistake has happened or not, we are going to 
remove any probable  problem in case of existance.

In [ ]:
# TODO: Remove non-alphabetic characters from the 'Address' column in the dataset and display the first five rows.
# Codes

In [ ]:
# TODO: Calculate and print the number of unique values in the 'Address' column of the dataset after removing non-alphabetic characters.
# Codes

In [ ]:
# TODO: Find and store the top 10 most frequently occurring values in the 'Address' column.
# Codes

In [ ]:
# TODO: Visualize the top 10 most frequently occurring values in the 'Address' column using a bar plot.
# Codes

In [ ]:
# TODO: Calculate the mean price for each unique address in the dataset and store the results. Identify and store the top 10 addresses with the highest mean price.
# Codes

In [ ]:
# TODO: Calculate and round descriptive statistics for the 'Price' column in the dataset.
# Codes

In [ ]:
# TODO: Create a copy of the dataset and format the 'Price' and 'Price(USD)' columns to display values with comma separators and no decimal places.
# Codes

**Description**<br>
* we create new variable to avoid changing the type of Price from numeric to object .
* Price and Price(USD) are easily readable now .

In [ ]:
# TODO: Create a heatmap to visualize the correlation matrix of numerical columns in the dataset, including annotations, using the 'summer' colormap and setting the format of annotations to one decimal place.
# Codes

In [ ]:
# TODO: Visualize the distribution of prices from the dataset using a boxplot.
# Codes

In [ ]:
# TODO: Calculate the skewness of each numerical column in the dataset.
# Codes

**Description**<br>

What are outliers in dataset ?

Answer : Outliers are values at the extreme ends of a dataset.

One of the best method to find out outliers : **Interquartile range method** 

Interquartile range method:

1: Sort your data from low to high<br>
2: Identify the `first quartile` (Q1), the `median`, and the `third quartile` (Q3).<br>
3: Calculate your `IQR = Q3 – Q1`<br>
4: Calculate your upper fence = `Q3 + (1.5 * IQR)`<br>
5: Calculate your lower fence = `Q1 – (1.5 * IQR)`<br>
6: Use your fences to highlight any outliers, all values that fall outside your fences.<br>
7: Your outliers are any values **greater than your upper fence or less than your lower fence**.<br>

In [ ]:
# TODO: Define a function named "Interquartile_Range" that calculates the interquartile range (IQR) and fences for outlier detection for a given dataframe and target column.
# Codes

In [ ]:
# TODO: Use the "Interquartile_Range" function to calculate the interquartile range (IQR) and fences for the 'Price' and 'Area' columns in the dataset.
# Codes

**Description**<br>
* It must be considered that most outliers are on the right side dut to **Right_skewed** <br>
so , we need to remove outliers on the right(Upper_Fence)

* Among all the features , two of them have noticeable effect : **Area** and **Price** <br>
We cant find out outliers from  (Room , Parking , Warehouse ,Elevator) features.<br>
It's better to find out outliers first from Price , second Area

In [ ]:
# TODO: Define upper fence values for the 'Price' and 'Area' columns. Identify and store the indices of data points exceeding these upper fences.
# Codes

**Description**<br>

* We can use of a method and add all the Outliers which are greater than UpperFence for both Price and Area and then <br>
eliminate them from our Dataset(but in a new variable)

In [ ]:
# TODO: Combine the indices of outliers identified for both 'Price' and 'Area' columns. Print the total number and percentage of outliers. Display the first five rows of the dataset for these outliers.
# Codes

In [ ]:
# TODO: Remove rows identified as outliers from the dataset and print the shape of the prepared dataset. Display the first five rows of the prepared dataset.
# Codes

In [ ]:
# TODO: Visualize the distribution of prices from the prepared dataset without outliers using a boxplot.
# Codes

In [ ]:
# TODO: Calculate the skewness of each numerical column in the prepared dataset without outliers.
# Codes

**Description**<br>

* Now we have more balanced data and its ready to be used for fitting.
* Due to we have dropped lots of data from dataset we can use of both(with outliers and without) to check the 
accuracy for each one .