<div>
<img src="./micromaster.png"
alt="SUT logo" width=150 height=150 align=left class="saturate">
<br>
<font face="Times New Roman">
<div dir=ltr align=center>
<!-- <font color=0F5298 size=7> -->
<font color=0F5298 size=6>
   Programming For Data Analysis
  <br> <br>
<!-- <font color=2565AE size=5> -->
<font size=5>
    Sharif Micromaster <br>
    Winter 2024 <br> <br>
<font color=606060 size=5>
    Assignment 4: Practical - Introduction to Pandas, Matplotlib, Seaborn <br> <br>
<hr>

<div>
<font face="Times New Roman">
<div dir=ltr align=left>
<font color=686880 size=4>
    Name: 
    <br>
    No.:

## Notebook Content
1. [Importing Libraries](#importing-libraries)
2. [Loading Dataset](#loading-dataset)
3. [Basic Understanding of Dataset](#basic-understanding-of-dataset)
4. [Exploratory Data Analysis](#exploratory-data-analysis)
5. [Feature Engineering](#feature-engineering)
6. [Data Pre-Processing](#data-pre-processing)

### Importing Libraries

In [ ]:
# TODO: Import Required libraries
# Codes

### Loading Dataset

In [ ]:
# TODO: Load dataset.csv 
# Codes

## Basic Understanding of Dataset

In [ ]:
# TODO: Print Shape of our Dataset
# Codes

In [ ]:
# TODO: Print Columns of Dataset
# Codes

In [ ]:
# TODO: Print first 5 rows of the dataset
# Codes

In [ ]:
# TODO: Print last 5 rows of the dataset
# Codes

In [ ]:
# TODO: Number of Duplicated in our dataset
# Codes
# TODO: The percentage of Duplicated in our dataset
# Codes

In [ ]:
# TODO: Types of our Columns in Dataset
# Codes

**Description**<br>

* Except Area feature , all of them have right type . we have to change its type later .<br>

In [ ]:
# TODO: Print the number of missing values in our Dataset for each Column
# Codes
# TODO: The percentage of missing values in our Dataset for each Column
# Codes

**Description**<br>

* Due to Address feature plays an important role and it must be exact, we can't replace missing values with anything.
* Consequently, we will drop those missing values later.

In [ ]:
# TODO: Print the cardinality of our Columns

## Exploratory Data Analysis

In [ ]:
# TODO: Plot the distribution of prices from the dataset using a histogram with kernel density estimation enabled, specifying a palette and setting the number of bins to 100.
# Codes

**Description**<br>

* Most houses have roughly close price in one third of the first part
* Outliers are obvious now(on the right side)

In [ ]:
# TODO: Visualize the distribution of the number of rooms (Room) from the dataset using a histogram.
# Codes

**Description**<br>

* About 2000 houses have exactly 2 rooms (most houses) 
* Distribution of 1 and 3 rooms are roughly the same (a little more 3 rooms)
* we have not many houses with 4 or 5 rooms (in total about 150 houses)
* houses without room is rarely seen 

**Conclusion**
* Mean of rooms is roughly 2.

In [ ]:
# TODO: Create subplots to visualize the distribution of boolean columns ('Parking', 'Warehouse', 'Elevator') from the dataset using countplots.
# Codes

**Description**<br>

* Most houses have Parking , Warehouse and Elevator (all these three features )
* Most houses have Warehouse.(houses without warehouse are very low)
* Those houses without Parking and Elevator have the same distribution(less than 1000 more than 500)

## Feature Engineering

In [ ]:
# TODO: Display the data types of columns in the dataset.
# Codes

**Description**<br>

The type of Area must be changed if we want to show and do feature engineering .<br>

To be possible to change its type we need to remove comma between numbers than we are capable changing its type.

In [ ]:
# TODO: Remove commas from the 'Area' column and convert it to numeric data type.
# Codes

In [ ]:
# TODO: Generate descriptive statistics for the 'Area' column in the dataset.
# Codes

**Description**<br>

We are going to divide Area feature to 4 category : Small(0-30) - AveUnderMean(30-90) - AveUpperMean(90-120)- High(120-...)

except these features other will be replaced to nan values

In [ ]:
# TODO: Create a new feature 'AreaSize' based on the 'Area' column values, categorizing them as 'Small', 'AveUnderMean', 'AveUpperMean', or 'High'.
# Codes

In [ ]:
# TODO: Visualize the distribution of the 'AreaSize' feature using a countplot.
# Codes

**Description**<br>

* As we can see  about half of houses have between 30-90 meters(m2)
* Houses with 90-120 meters  have the same contribution with houses which have more than 120 meters
* we can realize that right-skewed has happened.(outliers most are on the right part)
* very low houeses are with less than 30 meters size.

We are going to determine 4 level for Price feature : Cheap , AveUnderMean , AveUpperMean , Expensive <br>

- `cheap` : 0-25% 
- `AveUnderMean` : 25%-50%
- `AveUpperMean` : 50%-75%
- `Expensive` : upper 75%

In [ ]:
# TODO: Create a new feature 'PriceLevel' based on the 'Price' column values, categorizing them as 'Cheap', 'AveUnderMean', 'AveUpperMean', or 'Expensive'.
# Codes

In [ ]:
# TODO: Visualize the distribution of the 'PriceLevel' feature using a countplot.
# Codes

**Description**<br>

We have very balanced distribution in 4 parts

## Data Pre-Processing

In [ ]:
# TODO: 
# Codes